<section class="section--center mdl-grid site-max-width">
  {{#each articles}}
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card clickable">
      <div class="mdl-card__media">
        <img class="article-image" src="{{img}}" border="0" alt="">
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{title}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        {{description}}
      </div>
      <div class="mdl-card__menu">
        <form action="/admin/articles/{{_id}}?_method=DELETE" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <nav class="card-fab-container">
            <button class="card-buttons" value="DELETE"><img src="/img/delete.png"></button>
            <a href="/admin/articles/edit/{{id}}" class="card-buttons"><img src="/img/edit.png"></a>
            <a href="/admin/articles/{{id}}" class="card-buttons"><img src="/img/see.png"></a>
            <a class="card-buttons" href="#"><img src="/img/menu.png"></a>
          </nav>
        </form>
      </div>
    </div>
    {{else}}
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--8dp portfolio-card clickable">
        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text">Let's get started. Add some Articles</h1>
        </div>
      </div>
  {{/each}}
</section>
