<div class="section--center mdl-grid site-max-width">
  <div class="section--center mdl-cell mdl-cell--12-col mdl-card mdl-shadow--8dp page-content">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Edit Article</h1>
    </div>
    {{> _errors}}
    <div class="mdl-grid site-copy">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <form action="/admin/articles/{{article._id}}?_method=PUT" method="POST" class="form-contact">
            <input type="hidden" name="_method" value="PUT">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="title" name="title" value="{{article.title}}">
              <label class="mdl-textfield__label" for="title">Title...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" type="text" rows="5" id="description" name="description">{{article.description}}</textarea>
              <label class="mdl-textfield__label" for="description">Description</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="img" name="img" value="{{article.img}}">
              <label class="mdl-textfield__label" for="img">Image Url...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" type="text" rows="40" id="article" name="article">{{article.article}}</textarea>
              <label class="mdl-textfield__label" for="article">Article</label>
            </div>
            <p>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
